---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/TestDash/fake-repo/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token $ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1589904109'
      Etag:
      - W/"1eed7eecbe809fd6a53e034c20758af4"
      Last-Modified:
      - Mon, 18 May 2020 16:14:03 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/TestDash/fake-repo/issues/1","repository_url":"https://api.github.com/repos/TestDash/fake-repo","labels_url":"https://api.github.com/repos/TestDash/fake-repo/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/TestDash/fake-repo/issues/1/comments","events_url":"https://api.github.com/repos/TestDash/fake-repo/issues/1/events","html_url":"https://github.com/TestDash/fake-repo/issues/1","id":607749041,"node_id":"MDU6SXNzdWU2MDc3NDkwNDE=","number":1,"title":"Test
        issue","user":{"login":"ombu-bot","id":64282342,"node_id":"MDQ6VXNlcjY0MjgyMzQy","avatar_url":"https://avatars1.githubusercontent.com/u/64282342?v=4","gravatar_id":"","url":"https://api.github.com/users/ombu-bot","html_url":"https://github.com/ombu-bot","followers_url":"https://api.github.com/users/ombu-bot/followers","following_url":"https://api.github.com/users/ombu-bot/following{/other_user}","gists_url":"https://api.github.com/users/ombu-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/ombu-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ombu-bot/subscriptions","organizations_url":"https://api.github.com/users/ombu-bot/orgs","repos_url":"https://api.github.com/users/ombu-bot/repos","events_url":"https://api.github.com/users/ombu-bot/events{/privacy}","received_events_url":"https://api.github.com/users/ombu-bot/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"ombu-bot","id":64282342,"node_id":"MDQ6VXNlcjY0MjgyMzQy","avatar_url":"https://avatars1.githubusercontent.com/u/64282342?v=4","gravatar_id":"","url":"https://api.github.com/users/ombu-bot","html_url":"https://github.com/ombu-bot","followers_url":"https://api.github.com/users/ombu-bot/followers","following_url":"https://api.github.com/users/ombu-bot/following{/other_user}","gists_url":"https://api.github.com/users/ombu-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/ombu-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ombu-bot/subscriptions","organizations_url":"https://api.github.com/users/ombu-bot/orgs","repos_url":"https://api.github.com/users/ombu-bot/repos","events_url":"https://api.github.com/users/ombu-bot/events{/privacy}","received_events_url":"https://api.github.com/users/ombu-bot/received_events","type":"User","site_admin":false},"assignees":[{"login":"ombu-bot","id":64282342,"node_id":"MDQ6VXNlcjY0MjgyMzQy","avatar_url":"https://avatars1.githubusercontent.com/u/64282342?v=4","gravatar_id":"","url":"https://api.github.com/users/ombu-bot","html_url":"https://github.com/ombu-bot","followers_url":"https://api.github.com/users/ombu-bot/followers","following_url":"https://api.github.com/users/ombu-bot/following{/other_user}","gists_url":"https://api.github.com/users/ombu-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/ombu-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ombu-bot/subscriptions","organizations_url":"https://api.github.com/users/ombu-bot/orgs","repos_url":"https://api.github.com/users/ombu-bot/repos","events_url":"https://api.github.com/users/ombu-bot/events{/privacy}","received_events_url":"https://api.github.com/users/ombu-bot/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2020-04-27T18:13:40Z","updated_at":"2020-05-18T14:40:59Z","closed_at":null,"author_association":"CONTRIBUTOR","body":"","closed_by":null}'
  recorded_at: Tue, 19 May 2020 15:20:00 GMT
recorded_with: VCR 5.1.0
