---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/testdash/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token $ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1588282090'
      Etag:
      - W/"06a0c58a91fdd6e54545eb804c050073"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":259410743,"node_id":"MDEwOlJlcG9zaXRvcnkyNTk0MTA3NDM=","name":"fake-repo","full_name":"TestDash/fake-repo","private":false,"owner":{"login":"TestDash","id":64282791,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY0MjgyNzkx","avatar_url":"https://avatars0.githubusercontent.com/u/64282791?v=4","gravatar_id":"","url":"https://api.github.com/users/TestDash","html_url":"https://github.com/TestDash","followers_url":"https://api.github.com/users/TestDash/followers","following_url":"https://api.github.com/users/TestDash/following{/other_user}","gists_url":"https://api.github.com/users/TestDash/gists{/gist_id}","starred_url":"https://api.github.com/users/TestDash/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/TestDash/subscriptions","organizations_url":"https://api.github.com/users/TestDash/orgs","repos_url":"https://api.github.com/users/TestDash/repos","events_url":"https://api.github.com/users/TestDash/events{/privacy}","received_events_url":"https://api.github.com/users/TestDash/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/TestDash/fake-repo","description":null,"fork":false,"url":"https://api.github.com/repos/TestDash/fake-repo","forks_url":"https://api.github.com/repos/TestDash/fake-repo/forks","keys_url":"https://api.github.com/repos/TestDash/fake-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/TestDash/fake-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/TestDash/fake-repo/teams","hooks_url":"https://api.github.com/repos/TestDash/fake-repo/hooks","issue_events_url":"https://api.github.com/repos/TestDash/fake-repo/issues/events{/number}","events_url":"https://api.github.com/repos/TestDash/fake-repo/events","assignees_url":"https://api.github.com/repos/TestDash/fake-repo/assignees{/user}","branches_url":"https://api.github.com/repos/TestDash/fake-repo/branches{/branch}","tags_url":"https://api.github.com/repos/TestDash/fake-repo/tags","blobs_url":"https://api.github.com/repos/TestDash/fake-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/TestDash/fake-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/TestDash/fake-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/TestDash/fake-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/TestDash/fake-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/TestDash/fake-repo/languages","stargazers_url":"https://api.github.com/repos/TestDash/fake-repo/stargazers","contributors_url":"https://api.github.com/repos/TestDash/fake-repo/contributors","subscribers_url":"https://api.github.com/repos/TestDash/fake-repo/subscribers","subscription_url":"https://api.github.com/repos/TestDash/fake-repo/subscription","commits_url":"https://api.github.com/repos/TestDash/fake-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/TestDash/fake-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/TestDash/fake-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/TestDash/fake-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/TestDash/fake-repo/contents/{+path}","compare_url":"https://api.github.com/repos/TestDash/fake-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/TestDash/fake-repo/merges","archive_url":"https://api.github.com/repos/TestDash/fake-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/TestDash/fake-repo/downloads","issues_url":"https://api.github.com/repos/TestDash/fake-repo/issues{/number}","pulls_url":"https://api.github.com/repos/TestDash/fake-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/TestDash/fake-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/TestDash/fake-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/TestDash/fake-repo/labels{/name}","releases_url":"https://api.github.com/repos/TestDash/fake-repo/releases{/id}","deployments_url":"https://api.github.com/repos/TestDash/fake-repo/deployments","created_at":"2020-04-27T17:58:47Z","updated_at":"2020-04-27T17:59:00Z","pushed_at":"2020-04-28T16:36:45Z","git_url":"git://github.com/TestDash/fake-repo.git","ssh_url":"git@github.com:TestDash/fake-repo.git","clone_url":"https://github.com/TestDash/fake-repo.git","svn_url":"https://github.com/TestDash/fake-repo","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Thu, 30 Apr 2020 20:28:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/TestDash/fake-repo/issues?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token $ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1588282091'
      Etag:
      - W/"8a298022a3e2ff7981245e46b7457828"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/TestDash/fake-repo/issues/2","repository_url":"https://api.github.com/repos/TestDash/fake-repo","labels_url":"https://api.github.com/repos/TestDash/fake-repo/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/TestDash/fake-repo/issues/2/comments","events_url":"https://api.github.com/repos/TestDash/fake-repo/issues/2/events","html_url":"https://github.com/TestDash/fake-repo/pull/2","id":608457313,"node_id":"MDExOlB1bGxSZXF1ZXN0NDEwMjMyMzQx","number":2,"title":"Pull
        Request Test","user":{"login":"ombu-bot","id":64282342,"node_id":"MDQ6VXNlcjY0MjgyMzQy","avatar_url":"https://avatars1.githubusercontent.com/u/64282342?v=4","gravatar_id":"","url":"https://api.github.com/users/ombu-bot","html_url":"https://github.com/ombu-bot","followers_url":"https://api.github.com/users/ombu-bot/followers","following_url":"https://api.github.com/users/ombu-bot/following{/other_user}","gists_url":"https://api.github.com/users/ombu-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/ombu-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ombu-bot/subscriptions","organizations_url":"https://api.github.com/users/ombu-bot/orgs","repos_url":"https://api.github.com/users/ombu-bot/repos","events_url":"https://api.github.com/users/ombu-bot/events{/privacy}","received_events_url":"https://api.github.com/users/ombu-bot/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"ombu-bot","id":64282342,"node_id":"MDQ6VXNlcjY0MjgyMzQy","avatar_url":"https://avatars1.githubusercontent.com/u/64282342?v=4","gravatar_id":"","url":"https://api.github.com/users/ombu-bot","html_url":"https://github.com/ombu-bot","followers_url":"https://api.github.com/users/ombu-bot/followers","following_url":"https://api.github.com/users/ombu-bot/following{/other_user}","gists_url":"https://api.github.com/users/ombu-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/ombu-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ombu-bot/subscriptions","organizations_url":"https://api.github.com/users/ombu-bot/orgs","repos_url":"https://api.github.com/users/ombu-bot/repos","events_url":"https://api.github.com/users/ombu-bot/events{/privacy}","received_events_url":"https://api.github.com/users/ombu-bot/received_events","type":"User","site_admin":false},"assignees":[{"login":"ombu-bot","id":64282342,"node_id":"MDQ6VXNlcjY0MjgyMzQy","avatar_url":"https://avatars1.githubusercontent.com/u/64282342?v=4","gravatar_id":"","url":"https://api.github.com/users/ombu-bot","html_url":"https://github.com/ombu-bot","followers_url":"https://api.github.com/users/ombu-bot/followers","following_url":"https://api.github.com/users/ombu-bot/following{/other_user}","gists_url":"https://api.github.com/users/ombu-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/ombu-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ombu-bot/subscriptions","organizations_url":"https://api.github.com/users/ombu-bot/orgs","repos_url":"https://api.github.com/users/ombu-bot/repos","events_url":"https://api.github.com/users/ombu-bot/events{/privacy}","received_events_url":"https://api.github.com/users/ombu-bot/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2020-04-28T16:36:44Z","updated_at":"2020-04-30T14:53:12Z","closed_at":null,"author_association":"MEMBER","pull_request":{"url":"https://api.github.com/repos/TestDash/fake-repo/pulls/2","html_url":"https://github.com/TestDash/fake-repo/pull/2","diff_url":"https://github.com/TestDash/fake-repo/pull/2.diff","patch_url":"https://github.com/TestDash/fake-repo/pull/2.patch"},"body":""},{"url":"https://api.github.com/repos/TestDash/fake-repo/issues/1","repository_url":"https://api.github.com/repos/TestDash/fake-repo","labels_url":"https://api.github.com/repos/TestDash/fake-repo/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/TestDash/fake-repo/issues/1/comments","events_url":"https://api.github.com/repos/TestDash/fake-repo/issues/1/events","html_url":"https://github.com/TestDash/fake-repo/issu[...]
