---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b030a8cd7c8c0acb99701eedc8748ffe"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2445808,"kind":"project","name":"The Test","version":7,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":4,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2021-02-01T08:00:00Z","created_at":"2020-04-24T19:07:25Z","updated_at":"2020-04-24T20:02:13Z","account_id":1132270,"current_iteration_number":1,"enable_following":true}]'
  recorded_at: Tue, 02 Feb 2021 21:49:10 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/2445808/stories?filter=state:unstarted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '2'
      X-Tracker-Project-Version:
      - '7'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Offset:
      - '0'
      Etag:
      - W/"199ce592fff830d14424c421b89d0207"
      X-Tracker-Pagination-Returned:
      - '2'
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '[{"kind":"story","id":172507238,"created_at":"2020-04-24T19:08:21Z","updated_at":"2020-06-02T18:57:33Z","story_type":"feature","name":"As
        a user I would like all stories to be tested. ","current_state":"unstarted","requested_by_id":3333029,"url":"https://www.pivotaltracker.com/story/show/172507238","project_id":2445808,"owner_ids":[3333029],"labels":[],"owned_by_id":3333029},{"kind":"story","id":172507235,"created_at":"2020-04-24T19:08:03Z","updated_at":"2020-06-02T18:57:42Z","story_type":"feature","name":"As
        a user I would like to be able to see a test. ","current_state":"unstarted","requested_by_id":3333029,"url":"https://www.pivotaltracker.com/story/show/172507235","project_id":2445808,"owner_ids":[3333029],"labels":[],"owned_by_id":3333029}]'
  recorded_at: Tue, 02 Feb 2021 21:49:10 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/2445808
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '7'
      Etag:
      - W/"ad190ddd69da698f3e5b1507f8b9ed4e"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2445808,"kind":"project","name":"The Test","version":7,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":4,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2021-02-01T08:00:00Z","created_at":"2020-04-24T19:07:25Z","updated_at":"2020-04-24T20:02:13Z","account_id":1132270,"current_iteration_number":1,"enable_following":true}'
  recorded_at: Tue, 02 Feb 2021 21:49:11 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/2445808
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '7'
      Etag:
      - W/"ad190ddd69da698f3e5b1507f8b9ed4e"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2445808,"kind":"project","name":"The Test","version":7,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":4,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2021-02-01T08:00:00Z","created_at":"2020-04-24T19:07:25Z","updated_at":"2020-04-24T20:02:13Z","account_id":1132270,"current_iteration_number":1,"enable_following":true}'
  recorded_at: Tue, 02 Feb 2021 21:49:11 GMT
recorded_with: VCR 6.0.0
