---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"54b9e50e3dbe528303906f3d10da47fe"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"me","id":3333029,"name":"ombubot","initials":"OM","username":"ombubot","time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"api_token":"$ACCESS_TOKEN","has_google_identity":false,"accounts":[{"kind":"account_summary","id":1132270,"name":"Untitled","status":"active","plan":"Free"}],"projects":[{"kind":"membership_summary","id":10679406,"project_id":2445808,"project_name":"The
        Test","project_color":"e46642","favorite":false,"role":"owner","last_viewed_at":"2020-06-02T18:57:25Z"}],"email":"ombubot@ombulabs.com","receives_in_app_notifications":true,"created_at":"2020-04-24T18:12:56Z","updated_at":"2021-02-02T21:44:07Z"}'
  recorded_at: Tue, 02 Feb 2021 21:49:10 GMT
recorded_with: VCR 6.0.0
