---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5904d22f68cee359c8bd308af4019dad"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"me","id":3333029,"name":"ombubot","initials":"OM","username":"ombubot","time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-07:00"},"api_token":"$ACCESS_TOKEN","has_google_identity":false,"accounts":[{"kind":"account_summary","id":1132270,"name":"Untitled","status":"active","days_left":16,"plan":"Free"}],"projects":[{"kind":"membership_summary","id":10679406,"project_id":2445808,"project_name":"The
        Test","project_color":"e46642","favorite":false,"role":"owner","last_viewed_at":"2020-04-28T15:20:16Z"}],"email":"ombubot@ombulabs.com","receives_in_app_notifications":true,"created_at":"2020-04-24T18:12:56Z","updated_at":"2020-05-08T14:51:25Z"}'
  recorded_at: Fri, 08 May 2020 14:51:25 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f6d973f3e758cc870cf927e16347d012"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2445808,"kind":"project","name":"The Test","version":3,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-07:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":4,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2020-05-04T07:00:00Z","created_at":"2020-04-24T19:07:25Z","updated_at":"2020-04-24T20:02:13Z","account_id":1132270,"current_iteration_number":1,"enable_following":true}]'
  recorded_at: Fri, 08 May 2020 14:51:25 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/2445808/stories?filter=state:unstarted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '2'
      X-Tracker-Project-Version:
      - '3'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Offset:
      - '0'
      Etag:
      - W/"bba4781b7ebc6c057b5e12d3e62808ca"
      X-Tracker-Pagination-Returned:
      - '2'
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '[{"kind":"story","id":172507238,"created_at":"2020-04-24T19:08:21Z","updated_at":"2020-04-24T19:08:21Z","story_type":"feature","name":"As
        a user I would like all stories to be tested. ","current_state":"unstarted","requested_by_id":3333029,"url":"https://www.pivotaltracker.com/story/show/172507238","project_id":2445808,"owner_ids":[],"labels":[]},{"kind":"story","id":172507235,"created_at":"2020-04-24T19:08:03Z","updated_at":"2020-04-24T19:08:03Z","story_type":"feature","name":"As
        a user I would like to be able to see a test. ","current_state":"unstarted","requested_by_id":3333029,"url":"https://www.pivotaltracker.com/story/show/172507235","project_id":2445808,"owner_ids":[],"labels":[]}]'
  recorded_at: Fri, 08 May 2020 14:51:25 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/2445808
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '3'
      Etag:
      - W/"d74356ad175500ce878d1ab76c4a13c0"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2445808,"kind":"project","name":"The Test","version":3,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-07:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":4,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2020-05-04T07:00:00Z","created_at":"2020-04-24T19:07:25Z","updated_at":"2020-04-24T20:02:13Z","account_id":1132270,"current_iteration_number":1,"enable_following":true}'
  recorded_at: Fri, 08 May 2020 14:51:26 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "$ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f6d973f3e758cc870cf927e16347d012"
      X-Tracker-Client-Pinger-Interval:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2445808,"kind":"project","name":"The Test","version":3,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-07:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":4,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2020-05-04T07:00:00Z","created_at":"2020-04-24T19:07:25Z","updated_at":"2020-04-24T20:02:13Z","account_id":1132270,"current_iteration_number":1,"enable_following":true}]'
  recorded_at: Fri, 08 May 2020 14:51:26 GMT
recorded_with: VCR 5.1.0
