<header>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.blank? %>
        <%= link_to "Sign in", "/auth/github", class: "button", id: "edit" %>
      <% else %>
        <ul>
          <li id="todo_title"><%= "#{current_user.name}'s Todos" %></li>
          <li><%= link_to "Edit Pivotal Token", edit_pivotal_path(current_user), class: "button" %></li>
          <li><%= link_to "Sign out", "/signout", method: :delete, class: "button", id: "edit" %></li>
        </ul>
      <% end %>
    </ul>
  </nav>
</header>
